header {
    width: 300px;
    height: 200px;
    background-color: mediumseagreen;
}

section {
    width: 300px;
    height: 200px;
    background-color: lightseagreen;
}

.about-me {
    width: 300px;
    height: 100px;
    background-color: lightcoral;
}